#snake {
  border:2px dashed #333333;
  border-radius:8px;
}

#bar {
  font-family: 'Open Sans', sans-serif;
}

#restart {
  float: left;
}

#restart:hover {
  cursor: pointer;
}

#score {
  display: inline;
  float: right;
}
